<form id="reportForm" >
  <label><b>{{'location' | translate }}</b></label>
  <div class="w3-row-padding">
    <div class="w3-col s12 m3">
      <select class="w3-select">
        <option value="" selected>Manispaa</option>
        <option value="dsm" >Hananasif</option>
        <option value="dsm" >Kisutu</option>
        <option value="dsm" >Mkunguni A</option>
        <option value="dsm" >Mkunguni B</option>
      </select>
    </div>
    <div class="w3-col s12 m3">
      <select class="w3-select">
        <option value="" selected>Kata</option>
        <option value="kinondoni">Hananasif</option>
        <option value="ilala">Kigogo</option>


      </select>
    </div>
    <div class="w3-col s12 m3">
      <select class="w3-select">
        <option value="" selected>Mtaa</option>
        <option value="hananasif" >Kinondoni</option>
        <option value="hananasif" >Ilala</option>
      </select>
    </div>
  </div>
</form>
