<form id="reportForm" >
  <label><b>{{'location' | translate }}</b></label>
  <div class="w3-row-padding">
  <div class="w3-col s12 m3">
    <label>{{'choose_municipal' | translate }}</label>
    <select  class="w3-select" [ngModel] = "selectedMunicipal" (ngModelChange)= "onChange($event ) " name="municipal">
      <option  *ngFor=" let m of municipals" [ngValue] = "m">{{m.municipal_name}}</option>
    </select>
  </div>

  <div class="w3-col s12 m3">
    <label>{{'choose_ward' | translate }}</label>
    <select [disabled] = "disableWardSelect" class="w3-select" [ngModel] = "selectedWard" (ngModelChange)= "onChange($event)" name="ward" >
      <option  *ngFor=" let w of wards" [ngValue] = "w">{{w.ward_name}}</option>
    </select>
  </div>

  <div class="w3-col s12 m3">
    <label>{{'choose_street' | translate }}</label>
    <select [disabled] = "disableStreetSelect" class="w3-select" [ngModel] = "selectedStreet" (ngModelChange)= "onChange($event)" name="street" >
      <option  *ngFor=" let s of streets" [ngValue] = "s">{{s.street_name}}</option>
    </select>
  </div>
  </div>
</form>
