<form id="searchDrainForm" class="w3-padding-bottom" >
  <div class="w3-row-padding w3-center">
    <div class="w3-col s3 m4 w3-hide-small" >
        <label><h4>{{'search'| translate}}:</h4></label>
    </div>
    <div class="w3-col s8 m4">
      <input type="text" name="q" class="w3-input w3-border" placeholder="Search" [(ngModel)]="q.value" required #qControl="ngModel" >
    </div>
    <div class="w3-col s4 m4 ">
      <button (click)="emitValue($event)" class="w3-btn w3-block w3-teal w3-padding" [disabled]=" q.invalid">{{'search'| translate}}</button>
    </div>
  </div>
</form>