<div class="content-wrapper"  >
    <div class="content">
        <div class="box w3-card-2 w3-border w3-border-teal w3-padding" >
            <div class="box-header with-border">
                <h3 class=" w3-center"> {{ 'title' | translate }}</h3>
            </div>
            <!-- /.box-header -->

          <div class="w3-row">
                <div id="error"><h4></h4></div>
          </div>

          <div class="box-body">
            <div class="w3-row">
              <div class="w3-col m6 s12">
                <google-chart [data]="adoptedPieChart" ></google-chart>
              </div>
              <div class="w3-col m6 s12">
                <google-chart [data]="pieChartData" ></google-chart>
              </div>
               <!-- Chart Canvas -->

            </div>
          </div>
        </div>
        <!-- /.box -->
    </div>
  </div>

