
.w3-modal-content {
    margin-left: 35%;
    width: 400px;
    top: 180px;
    height: auto;
}


@media(max-width: 768px){
    .w3-modal-content {
        padding-top: 0px;
        margin: 0% 15% 0% 15%;
        width: 200px;
        height: auto;
    }
        
}