
.w3-modal-content {
    margin-left: 25%;
    width: 70%;
    top: 180px;
    height: auto;
}


@media(max-width: 768px){
    .w3-modal-content {
        padding-top: 0px;
        margin: 0% 10% 0% 10%;
        width: 80%;
        height: auto;
    }

}
.btn-success {
  background-color: #5aa281;
   border-color: #5aa281;
}
.btn{
  padding: 2px 2px;
}

@media print{
    #printRanksBtn {
        display: none;
    }
}
