<div id="loginmodal" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

    <div class="w3-center"><br>
      <span (click)="closelogin()" class="w3-button w3-xlarge w3-hover-red w3-display-topright w3-padding" title="Close Modal">&times;</span>
    </div>
    <div id="errors" class="w3-center" *ngIf="loginCalled && !authService.loginRes">
      <p class="w3-text-red w3-large">Wrong phone number or password. Login failed</p>
    </div>
    
    <form id="loginForm" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="w3-section w3-padding">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label><b>{{'username'| translate}}</b></label>
          <input id="smsNumber" class="w3-input w3-border w3-margin-bottom" [(ngModel)]="inputsToFormat.phone" name="username" type="text" placeholder="{{'placeholder_username'| translate}}" #username=ngModel required>
          <span *ngIf="f.submitted && !username.valid" class="help-block">({{'placeholder_username'| translate}})</span>
        </div>
        
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label><b>{{'password'| translate}}</b></label>
          <input class="w3-input w3-border" [(ngModel)]="user.password" type="password" name="password" placeholder="{{'placeholder_password'| translate}}" #password="ngModel" required>
          <span *ngIf="f.submitted && !password.valid" class="help-block">({{'placeholder_password'| translate}})</span>
        </div>
      </div>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <section class="w3-right form-group">
          <button [disabled]="loading"  class="w3-btn w3-green w3-padding" type="submit">{{'login'| translate}}</button>
          <button (click)="closelogin()" class=" w3-btn w3-red w3-padding" type="reset">{{'cancel'| translate}}</button>
          <!--span class="w3-left w3-padding w3-hide-small">Forgot <a href="#">password?</a></span-->
        </section>
      </div>
    </form>
  </div>
</div>
