.btn-default {
  background-color: transparent;
  color: #ffffff;
}
#langlink {
  color: #060505;
  text-decoration: underline;
  bottom: 0px;
  cursor: pointer;
}
.notifications {
  position: absolute;
  top: 5px;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
     padding-top: 10px;
    padding-bottom: 15px;
  }
}
