
<header class="main-header">

  <!-- Logo -->
  <a routerLink="home" class="logo w3-theme-d3">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>T</b>M</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Twaa</b>Mtaro</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top w3-theme-d1">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <li class="user user-menu">
              <div class="pull-right w3-padding" *ngIf="authService.isLoggedIn(); else signIN">
                <a (click)="logout()" class="btn btn-default btn-flat">{{'signout'| translate}}</a>
              </div>
              <ng-template #signIN>
              <div class=" w3-padding">
                <div class="pull-right w3-padding">
                  <a (click)="registerbox()"  class="btn btn-default btn-flat">{{'register'| translate}}</a>
                </div>
                <div class="pull-right w3-padding" >
                  <a (click)="loginbox() "  class="btn btn-default btn-flat">{{'login' | translate}}</a>
                </div>
              </div>
              </ng-template>
        </li>

        <div class="pull-right w3-padding">
            <a id="langlink" *ngFor="let lang of supportedLangs" (click)="selectLang(lang.value)" class="w3-padding-right" [class.w3-text-white]="isCurrentLang(lang.value)">
             {{ lang.display }} 
            </a>
          </div>
        <li>
        </li>
      </ul>
    </div>
  </nav>
  <app-login></app-login>
  <app-register></app-register>
</header>
