
<header class="main-header">

  <!-- Logo -->
  <a routerLink="home" class="logo w3-theme-d3">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>T</b>M</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Twaa</b>Mtaro</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top w3-theme-d1">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <li class="user user-menu">
              <div class="pull-right w3-padding" *ngIf="authService.isLoggedIn(); else signIN">
                <a (click)="logout()" class="btn btn-default btn-flat">Sign out</a>
              </div>
              <ng-template #signIN>
              <div class=" w3-padding">
                <div class="pull-right">
                  <a (click)="register()"  class="btn btn-default btn-flat">Register</a>
                </div>
                <div class="pull-right w3-padding-right" >
                  <a (click)="loginbox() "  class="btn btn-default btn-flat">Sign in</a>
                </div>
              </div>
              </ng-template>
        </li>
        <li>
          <a href="#" data-toggle="control-sidebar">


            <div class="btn-group">
              <button *ngFor="let lang of supportedLangs"
                      (click)="selectLang(lang.value)"
                      class="btn btn-default" [class.btn-primary]="isCurrentLang(lang.value)">
                {{ lang.display }}
              </button>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <app-login></app-login>
</header>
