<div class="content-wrapper"  >
	<div class="content">
	<div class="box w3-card-2 w3-border" >
		<div class="box-header with-border">
			<h3 class=" w3-center">{{ 'need_help_report' |translate }}</h3>

			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
			</div>
		</div>

	<!--Desktop Filters -->
	<div class="w3-center w3-padding">
		<button class="w3-btn w3-black w3-left" (click)="showFilters()">{{'filter' | translate}}</button>
      <ul class="filters-list">
        <li><app-regional-filters (selectValueChaged)="drainFilter(pagedDrains,$event)"></app-regional-filters></li>
        <li><app-status-filters (statusValueChaged)="statusFilter(pagedDrains,$event)"></app-status-filters></li>
      </ul>
		</div>
	<!-- End Desktop Filters -->

		<!-- Mobile Filters -->
			<div>
				<div id="mobileFilters" class="w3-dropdown-content w3-white w3-card-4 w3-center">
					<ul class="w3-ul w3-hide-large w3-hide-medium">
						<li class="w3-border w3-border-blue">{{'all_button'| translate}}</li>
						<li class="w3-border w3-border-red">{{'submitted'| translate}}</li>
						<li class="w3-border w3-border-orange">{{'progress' | translate}}</li>
						<li class="w3-border w3-border-green">{{'done'| translate}}</li>
						<li class="w3-border w3-border-grey">{{'archive'| translate}}</li>
					</ul>
				</div>
			</div>
		<!-- End Mobile Filters-->

		<!-- /.box-header -->
		<div class="box-body w3-padding">
			<div class="row">
				<!-- templates -->
				<div id="error"><h4></h4></div>
				<table class="w3-table w3-hoverable w3-responsive w3-white" border="0" id="need_help_table">
					<thead>
					<tr class="w3-light-grey w3-border-bottom" >
            <th>{{'id' | translate}}</th>
            <th>{{'name'| translate}}</th>
            <th>{{'address' | translate}}</th>
            <!--<th>{{'claimed' | translate}}</th>-->
						<th>{{'report_made' | translate}}</th>
						<th  *ngIf="authService.isLoggedIn()">{{'leader'| translate}}</th>
						<th>Badili Hali ya Msaada</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let drain of pagedDrains">
            <td><a (click)="helpmodal(drain.gid, drain.need_help_category.category_name, drain.help_needed)" >{{drain.gid}}</a></td>
            <td>{{drain.need_help_category.category_name}}</td>
            <td>{{drain.user.street.street_name}}</td>
            <td>{{drain.created_at | date }}</td>
            <td  *ngIf="authService.isLoggedIn()">
							{{drain.user.first_name}} {{drain.user.last_name}}</td>
							<th><button (click)="updateStatus(drain)">VIMEFANYIKA</button></th>
          </tr>

            <div id="helpdetails" class="w3-modal w3-margin-top">
              <div class="w3-modal-content w3-card-4">
                <header class="w3-container w3-theme-d3 w3-center">
								<span (click)="closemodal()"
                      class="w3-button w3-display-topright w3-padding w3-hover-teal">&times;</span>
                  <h3>Drain No. {{ thedrain	}} Help Details</h3>
                </header>
                <div class="w3-container w3-padding">
                  <p><strong class="w3-padding-right">Help Category: </strong>{{ helpCategory }}</p>
                  <p><strong class="w3-padding-right">Extra Details: </strong>{{ helpNeeded }}</p>
                </div>
              </div>
            </div>
					</tbody>
				</table>
				<div class="w3-center">
					<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
					  <li [ngClass]="{disabled:pager.currentPage === 1}">
						<a (click)="setPage(1)">{{'first' | translate}}</a>
					  </li>
					  <li [ngClass]="{disabled:pager.currentPage === 1}">
						<a (click)="setPage(pager.currentPage - 1)">{{'previous'| translate}}</a>
					  </li>
					  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
						<a (click)="setPage(page)">{{page}}</a>
					  </li>
					  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
						<a (click)="setPage(pager.currentPage + 1)">{{'next'| translate}}</a>
					  </li>
					  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
						<a (click)="setPage(pager.totalPages)">{{'last'| translate}}</a>
					  </li>
					</ul>
				</div>
		</div>
	</div>
</div>
<!-- ./box-body -->
</div>
<!-- /.box -->
</div>
