<div class="content-wrapper"  >
	<div class="content">
	<div class="box w3-card-2 w3-border w3-border-teal content" >
		<div class="box-header with-border">
			<h3 class=" w3-center">{{'results'|translate}}: {{ 'need_help' |translate }}</h3>

			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
			</div>
		</div>
		
	<!--Desktop Filters -->	
		<button class="w3-btn w3-black w3-left" (click)="showFilters()">Filters</button>
    <div class="w3-center">
      <ul class="w3-hide-small w3-left">
          <li class="w3-btn w3-white w3-border w3-border-blue" (click)="getFilteredDrains()">All</li>
          <li class="w3-btn w3-white w3-border w3-border-red" (click)="getFilteredDrains('submitted')">Submitted</li>
          <li class="w3-btn w3-white w3-border w3-border-orange" (click)="getFilteredDrains('processing')">Processing</li>
          <li class="w3-btn w3-white w3-border w3-border-green" (click)="getFilteredDrains('done')">Done</li>
          <li class="w3-btn w3-white w3-border w3-border-grey" (click)="getFilteredDrains('archived')">Archived</li>
      </ul>
		</div>
	<!-- End Desktop Filters -->
		
		<!-- Mobile Filters -->
			<div>
				<div id="mobileFilters" class="w3-dropdown-content w3-white w3-card-4 w3-center">
					<ul class="w3-ul w3-hide-large w3-hide-medium">
						<li class="w3-border w3-border-blue">All</li>
						<li class="w3-border w3-border-red">Submitted</li>
						<li class="w3-border w3-border-orange">Processing</li>
						<li class="w3-border w3-border-green">Done</li>
						<li class="w3-border w3-border-grey">Archived</li>
					</ul>
				</div>
			</div>
		<!-- End Mobile Filters-->
		
		<!-- /.box-header -->
		<div class="box-body w3-padding">
			<div class="row">
				<!-- templates -->
				<div id="error"><h4>{{ErrMsg}}</h4></div>
				<table class="w3-table w3-hoverable w3-responsive w3-white" border="0">
					<thead>
					<tr class="w3-light-grey w3-border-bottom" >
            <th>{{'id' | translate}}</th>
            <th>{{'name'| translate}}</th>
            <th>{{'address' | translate}}</th>
            <!--<th>{{'claimed' | translate}}</th>-->
						<th>{{'report_made' | translate}}</th>
            <th  *ngIf="authService.isLoggedIn()">STREET LEADER</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let drain of pagedDrains">
            <td><a (click)="helpmodal(drain.gid, drain.need_help_category.category_name, drain.help_needed)" >{{drain.gid}}</a></td>
            <td>{{drain.need_help_category.category_name}}</td>
            <td>{{drain.user.street.street_name}}</td>
            <td>{{drain.created_at | date }}</td>
            <td  *ngIf="authService.isLoggedIn()">
              {{drain.user.first_name}} {{drain.user.last_name}}</td>
          </tr>

            <div id="helpdetails" class="w3-modal w3-margin-top">
              <div class="w3-modal-content w3-card-4">
                <header class="w3-container w3-theme-d3 w3-center">
								<span (click)="closemodal()"
                      class="w3-button w3-display-topright w3-padding w3-hover-teal">&times;</span>
                  <h3>Drain No. {{ thedrain	}} Help Details</h3>
                </header>
                <div class="w3-container w3-padding">
                  <p><strong class="w3-padding-right">Help Category: </strong>{{ helpCategory }}</p>
                  <p><strong class="w3-padding-right">Extra Details: </strong>{{ helpNeeded }}</p>
                </div>
              </div>
            </div>
					</tbody>
				</table>
				<div class="w3-center">
					<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
					  <li [ngClass]="{disabled:pager.currentPage === 1}">
						<a (click)="setPage(1)">First</a>
					  </li>
					  <li [ngClass]="{disabled:pager.currentPage === 1}">
						<a (click)="setPage(pager.currentPage - 1)">Previous</a>
					  </li>
					  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
						<a (click)="setPage(page)">{{page}}</a>
					  </li>
					  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
						<a (click)="setPage(pager.currentPage + 1)">Next</a>
					  </li>
					  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
						<a (click)="setPage(pager.totalPages)">Last</a>
					  </li>
					</ul>
				</div>
		</div>
	</div>
</div>
<!-- ./box-body -->
</div>
<!-- /.box -->
</div>
