<div class="content-wrapper"  >
	<div class="content">
	<div class="box w3-card-2 w3-border w3-border-teal content" >
		<div class="box-header with-border">
			<h3 class=" w3-center">RESULTS: {{ title }}</h3>
	
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
			</div>
		</div>
		<!-- /.box-header -->
		<div class="box-body w3-padding">
			<div class="row">
				<!-- templates -->
				<div id="error"><h4>{{ErrMsg}}</h4></div>
				<table class="w3-table w3-hoverable w3-responsive w3-white" border="0">
					<thead>
					<tr class="w3-light-grey w3-border-bottom" >
						<th>ID</th>
						<th>CATEGORY</th>
						<th>ADDRESS</th>
						<th>REPORT MADE</th>
						<th  *ngIf="authService.isLoggedIn()">STREET LEADER</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let drain of (drains)">
						<td><a (click)="helpmodal()" >{{drain.gid}}</a></td>
						<td>{{drain.need_help_category.category_name}}</td>
						<td>Street</td>
						<td>{{drain.created_at}}</td>
						<td  *ngIf="authService.isLoggedIn()">{{drain.user_id}}</td>

						<div id="heldetails" class="w3-modal w3-margin-top">
							<div class="w3-modal-content w3-card-4">
							<header class="w3-container w3-theme-d3 w3-center"> 
								<span (click)="closemodal()" 
								class="w3-button w3-display-topright w3-padding w3-hover-teal">&times;</span>
								<h3>Drain No. {{drain.gid}} Help Details</h3>
							</header>
							<div class="w3-container w3-padding">
								<p><strong class="w3-padding-right">Help Category: </strong>{{drain.need_help_category.category_name}}</p>
								<p><strong class="w3-padding-right">Extra Details: </strong>{{drain.help_needed}}</p>
							</div>
							
							</div>
						</div>
					</tr>
					<!--{{drain.help_needed}}-->
					</tbody>
				</table>
		</div>
	</div>
</div>
<!-- ./box-body -->
</div>
<!-- /.box -->
</div>	