<div class="content-wrapper"  >
  <div class="content">
      <h2 class=" w3-center"> {{ 'users'| translate}}</h2>   
    <div class="w3-padding">
       
      <header class="w3-container w3-center w3-theme-l5">
        <h3>{{'registered' | translate}}</h3>
      </header>

      <div class="w3-container">
        <div class="w3-roww3-center">
          <div class="w3-third w3-margin-top">
            <div class="w3-card-2 w3-padding-medium" style="width:98%">
                <h4 class=""> 
                  <img src="assets/img/citizens.png" title="Citizens" width="50" height="50">
                  <strong>{{ usersCount }}</strong> {{'citizens'| translate}}</h4>
                  <!--button *ngIf="authService.isLogged() && checkRole(loggedUser.roles,'2')">View Your Citizens</button-->
            </div>
          </div>

          <div class="w3-third w3-margin-top">
            <div class="w3-card-2 w3-padding-medium"  style="width:98%">
              <h4 class="">
                <img src="assets/img/veos.png" title="Village Leaders" width="50" height="50"> 
                <strong>{{ streetLeadersCount }}</strong> {{'leader'| translate}}</h4>
            </div>
          </div>

          <div class="w3-third w3-margin-top">
             <div class="w3-card-2 w3-padding-medium"  style="width:98%">
                <h4 class="">
                <img src="assets/img/weo.png" title="Ward Leaders" width="50" height="50">
                <strong>{{ wardLeadersCount }}</strong> {{'ward_leader'| translate}}</h4>
              </div>
          </div>

        </div>
      </div> <!--End Registered Users Card -->
<hr style = "width:100%; border-color:#c8c8c8; border-width:1px; ">
      <div class="w3-row">
          <div id="error"><h4></h4></div>
        <div class="w3-padding w3-col m6 s12">
          <div class="w3-card-2">
            <header class="w3-container w3-center w3-theme-l5">
                <h3 style="text-transform: uppercase">{{'leader' | translate}} </h3>
            </header>
            <table class="w3-table w3-hoverable w3-responsive w3-white" border="0">
              <thead>
              <tr class="w3-light-grey w3-border-bottom" >
                <th>{{'name'| translate}}</th>
                <th class="w3-center">{{'address' | translate}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let veo of (veos)">
                <td>{{veo.first_name}} {{veo.last_name}} </td>
                <td class="w3-center"> {{ veo.street.street_name }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div><!-- Street Leaders Column -->
        <div class="w3-padding w3-col m6 s12">
          <div class="w3-card-2">
            <header class="w3-container w3-center w3-theme-l5">
                <h3 style="text-transform: uppercase">{{'ward_leader'| translate}} </h3>
            </header>
            <table class="w3-table w3-hoverable w3-responsive w3-white" border="0">
              <thead>
              <tr class="w3-light-grey w3-border-bottom" >
                <th>{{'name'| translate}}</th>
                <th class="w3-center">{{'address' | translate}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let weo of (weos)">
                <td>{{weo.first_name}} {{weo.last_name}} </td>
                <td class="w3-center"> {{ weo.street.street_name }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
<!--hr style = "width:100%; border-color:#c8c8c8; border-width:1px; ">
    <div class="w3-row">
        <div class=" w3-col m12 s12">
          <h3 class="w3-center">{{'citizen_population' | translate}}</h3>
          <google-chart [data]="treeChart" (chartError)='error($event)'></google-chart>
        </div>
      </div-->
  </div>
<!-- /.box -->
</div> 
