      <app-header></app-header>
      
      <app-left-side></app-left-side>
      <app-notification-bar></app-notification-bar>
      <!-- Content Wrapper. Contains page content -->
      <router-outlet></router-outlet>

      <app-footer></app-footer>

      <!-- Control Sidebar >
      <app-admin-control-sidebar></app-admin-control-sidebar>
      <! /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>

