<div class="content-wrapper"  >
  <div class="content">
    <h2 class=" w3-center"> {{ title }}</h2>
    <h4 class=" w3-center">  {{'send_message' | translate}}</h4>

    <div class=" w3-padding">
      <div class="w3-row">
          <div class="w3-padding w3-col m6 s12">
            <div class="w3-card-2 w3-container w3-padding w3-white w3-hover-shadow w3-border w3-border-teal">
                <h3 class="w3-center">{{'alert_user' | translate}}</h3>
                <p>{{'alert_message'| translate}}
                </p>

                <button class="w3-right w3-padding w3-btn w3-teal" (click)="checkBoxes('alertMsg','awarenessMsg')">{{'send_alert' | translate}}</button>
            </div><!--End Card -->
          </div>
          <div class="w3-padding w3-col m6 s12">
            <div class="w3-card-2 w3-container w3-padding w3-white w3-hover-shadow w3-border w3-border-teal">
              <h3 class="w3-center">{{'aware_user'| translate}}</h3>
                <p>
                  {{'awareness_message' | translate }}
                </p>

                <button class="w3-right w3-padding w3-btn w3-teal" (click)="checkBoxes('awarenessMsg','alertMsg') ">{{'send_awareness'| translate}}</button>
            </div><!--End Card -->
          </div>
      </div>
<!--End Notification Rows -->

<!-- Begin Message Boxes  -->
      <div class="w3-row  w3-padding" id="alertMsg">
        <div class="w3-card-2 w3-padding w3-container w3-white w3-hover-shadow w3-border w3-border-white">
        <div class="w3-col  m3 s12 w3-center">
          <h3><i class="fa fa-edit" style="color:#009688!important"></i> {{'modify' | translate}}</h3>
            <h4>{{'or'| translate}}</h4>
            <h3><i class="fa fa-envelope" style="color:#009688!important"></i> {{ 'send_msg'| translate}}
            </h3>
            <h4>{{'box-msg' | translate}}</h4>
        </div>
        <div class="w3-col m9 s12">
          <form class="w3-container" id="alertForm">
              <h4>{{'alert_user' | translate}} </h4>
            <textarea class="w3-input w3-border w3-border-teal" maxlength="100" rows="4" cols="50" wrap="soft" [(ngModel)]="theMsg.msg" name="msg">The rain season is here pleasure ensure that your drains are clean.
            </textarea>
            <br>
            <button class="w3-right w3-padding w3-btn w3-teal" (click)="sendMessages() ">{{'message_send'| translate}}</button>
          </form>
        </div>
        </div>
      </div>
      <!-- Alert Message  -->

      <!-- Awareness Message -->
      <div class="w3-row  w3-padding" id="awarenessMsg">
        <div class="w3-card-2 w3-padding w3-container w3-white w3-hover-shadow w3-border w3-border-white">
          <div class="w3-col  m3 s12 w3-center">
            <h3><i class="fa fa-edit" style="color:#009688!important"></i>{{'modify' | translate}}</h3>
            <h4>{{'or'| translate}}</h4>
              <h3><i class="fa fa-envelope" style="color:#009688!important"></i> {{ 'send_msg'| translate}}
              </h3>
              <h4>{{'box-msg' | translate}} </h4>
          </div>
        <div class="w3-col m9 s12">
          <form class="w3-container" id="awarenessForm">
              <h4>{{'aware_user'| translate}} </h4>
            <textarea class="w3-input w3-border w3-border-teal" maxlength="100" rows="4" cols="50" wrap="soft" [(ngModel)]="theMsg.msg" name="msg">From time to time drains are filled with dirt and overgrowth of grass please clean out your drains from time to time.
            </textarea>
            <br>
            <button class="w3-right w3-padding w3-btn w3-teal" (click)="sendMessages() ">{{'message_send'| translate}}</button>
          </form>
        </div>
        </div>
      </div> <!-- End Awareness Box -->
<!-- End Message Boxes -->
    </div>
  </div>
</div>

