<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/avatar.png" class="img-circle" alt="User Image">
      </div>
      <div *ngIf="user" class="pull-left info">
        <p>{{user.name}}</p>
      </div>
    </div>
    <!-- search form -->
    <app-user-search></app-user-search>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <!--li class="header">MAIN NAVIGATION</li-->
      <li>
        <a routerLink="dashboard"><i class="fa fa-dashboard"></i> <span>DASHBOARD</span></a>
      </li>
      <li>
        <a href="http://www.twaamtaro.org" target="_blank">
            <i class="fa fa-globe"></i> <span>VIEW MAP</span>
          </a>
      </li>
      <!-- *ngIf="user.admin"  -->
      <li *ngIf="authService.isLoggedIn()" >
          <a (click)="notifyCitizens">
            <i class="fa fa-bell-o"></i>
            <span>NOTIFY CITIZENS</span>
          </a>
      </li>
      <li>
        <a routerLink="ranks">
            <i class="fa fa-line-chart"></i> <span>RANKINGS</span>
          </a>
      </li>
      <li>
        <a routerLink="reports">
            <i class="fa fa-area-chart"></i> <span>REPORTS</span>
          </a>
      </li>
      <li>
        <a routerLink="filter-drains">
            <i class=""></i> <span>VIEW DRAINS</span>
          </a>
      </li>
      <li>
        <a routerLink="users">
            <i class="fa fa-users"></i> <span>CITIZENS</span>
          </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
