<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- search form -->
    <app-user-search></app-user-search>
    <!-- /.search form -->
    <div *ngIf="authService.isLoggedIn(); else noUser" class="w3-padding w3-text-white">
      <h4>Welcome <strong>{{ loggedUser }} </strong></h4>
    </div>
    <ng-template #noUser>
      <div class=" w3-padding w3-text-white">
        <h4>Welcome</h4>
      </div>
    </ng-template>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <!--li class="header">MAIN NAVIGATION</li-->
      <li>
        <a routerLink="home"><i class="fa fa-dashboard"></i> <span>DASHBOARD</span></a>
      </li>
      <li>
        <a href="http://www.twaamtaro.org" target="_blank">
            <i class="fa fa-globe"></i> <span>VIEW MAP</span>
          </a>
      </li>
      <!-- If user is logged in   -->
      <li *ngIf="authService.isLoggedIn()" >
          <a (click)="notifyCitizens">
            <i class="fa fa-bell-o"></i>
            <span>NOTIFY CITIZENS</span>
          </a>
      </li>
      <li>
        <a routerLink="ranks">
            <i class="fa fa-line-chart"></i> <span>RANKINGS</span>
          </a>
      </li>
      <li>
        <a routerLink="reports">
            <i class="fa fa-area-chart"></i> <span>REPORTS</span>
          </a>
      </li>
      <li>
        <a routerLink="filter-drains">
            <i class=""></i> <span>VIEW DRAINS</span>
          </a>
      </li>
      <li>
        <a routerLink="users">
            <i class="fa fa-users"></i> <span>CITIZENS</span>
          </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
