<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- search form -->
    <app-user-search></app-user-search>
    <!-- /.search form -->
    <div class="pull-right w3-padding">
      <a id="langlink" *ngFor="let lang of supportedLangs" (click)="selectLang(lang.value)" class="w3-padding-right" [class.w3-text-white]="isCurrentLang(lang.value)">
       {{ lang.display }}
      </a>
    </div>
    <div *ngIf="authService.isLoggedIn(); else noUser" class="w3-padding w3-text-white">
      <h4>{{'welcome'| translate}}&nbsp;&nbsp;<strong>{{ loggedUser }} </strong></h4>
    </div>
    <ng-template #noUser>
      <div class=" w3-padding w3-text-white">
        <h4>{{'welcome' | translate}}</h4>
      </div>
    </ng-template>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <!--li class="header">MAIN NAVIGATION</li-->
      <li>
        <a routerLink="home"><i class="fa fa-dashboard"></i> <span>{{ 'dashboard'| translate}}</span></a>
      </li>
      <li>
        <a href="http://twaamtaro.org" target="_blank">
            <i class="fa fa-globe"></i> <span>{{'map' | translate}}</span>
          </a>
      </li>
      <!-- If user is logged in   -->
      <li *ngIf="authService.isLoggedIn()" >
          <a routerLink="notify-citizens">
            <i class="fa fa-envelope-o"></i>
            <span>{{ 'notification' | translate}}</span>
          </a>
      </li>
      <li>
        <a routerLink="ranks">
            <i class="fa fa-line-chart"></i> <span> {{'ranks' | translate}} </span>
          </a>
      </li>
      <li>
        <a routerLink="reports">
            <i class="fa fa-area-chart"></i> <span>{{'report' | translate}}</span>
          </a>
      </li>
      <li>
        <a routerLink="filter-drains">
          <img src="assets/img/whitedrain.png" width="25" height="25">
          <i class=""></i> <span>{{'view_drain' | translate}}</span>
          </a>
      </li>
      <li *ngIf="authService.isLoggedIn()">
        <a routerLink="users-list/{{userStreet}}">
            <i class="fa fa-users"></i> <span>{{ 'citizens' | translate}}</span>
          </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
