#printHeader {
    display: none;
}
@media print {
    
    #reportForm, #reportBtns {
        display: none;
    }
    #printHeader {
        display: block;
    }
    #printArea {
        display: block;
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
        border-color: none;
    }
}