<div class="content-wrapper"  >
    <div class="content">
    <div class="box w3-card-2 w3-border" >
        <div class="box-header with-border">
            <h3 class=" w3-center"> {{ 'choose_address' |translate }}</h3>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
            <label>{{'drain_filter' | translate}}: </label>
                <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
                    <select formControlName="address" class="w3-select">
                        <option >{{ 'choose_address' |translate }}</option>
                        <option ng-value="Kigogo">Kigogo</option>
                        <option ng-value="Tabata">Tabata</option>
                        <option ng-value="Mwananyamala" >Mwananyamala</option>
                        <option ng-value="Hananasif">Hananasif</option>
                        <!--option *ngFor="let drain of drains" ng-value="address">{{drain.address}}</option-->
                    </select>
                <button class="w3-right w3-btn w3-blue" type="submit">{{'submit' | translate}}</button>
                </form>

            <div class="row">
                <div id="error"><h4>{{ErrMsg}}</h4></div>
            </div>
        </div>
     </div>
        <!-- /.box -->
    </div>
</div>

