<div class="wrapper">

  <app-admin-header></app-admin-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-admin-left-side></app-admin-left-side>
  <app-notification-bar></app-notification-bar>
  <!-- Content Wrapper. Contains page content -->
  <!--div class="content-wrapper" id="serverResult" >
    <div class="content">
        <div class="box w3-card-2 w3-border w3-border-teal w3-padding" >
            <div class="box-header with-border">
                <h3 class=" w3-center"> Search Results</h3>
            </div>

         </div>
        </div>
    </div-->
  <router-outlet></router-outlet>  
  <!-- /.content-wrapper -->
  
  <app-admin-footer></app-admin-footer>

  <!-- Control Sidebar -->
  <app-admin-control-sidebar></app-admin-control-sidebar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
