      <!-- Info boxes -->
      <div class="w3-row">
          <div  class="content-wrapper" >
              <div class="content">
                  <div class="box w3-card-2 w3-border w3-border-teal w3-padding" >
                      <div class="box-header with-border">
                          <h3 class=" w3-center"> Admin Dashboard Space</h3>
                      </div>
          
                   </div>
                  </div>
      </div>
      <!-- /.row  -->
      </div>

<router-outlet></router-outlet>