<div class="content-wrapper"  >
<div class="content">
	<div class="w3-card-2 w3-border w3-border-teal " >
	<div class="box-header with-border">
		<h3 class=" w3-center">{{'results' | translate}}: {{ 'clean' | translate }}</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="w3-row">
			<!-- templates -->
			<div id="error"><h4>{{ErrMsg}}</h4></div>

				<table class="w3-table w3-hoverable w3-responsive w3-white" border="0">
					<thead>
						<tr class="w3-light-grey w3-border-bottom" >
							<th>{{'id' | translate}}</th>
              <th>{{'name'| translate}}</th>
              <th>{{'address' | translate}}</th>
              <th>{{'claimed' | translate}}</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let drain of pagedDrains">
							<td><a href="">{{drain.gid}}</a></td>
							<td>{{drain.name}}</td>
							<td>{{drain.address}}</td>
							<td>
								<span *ngIf="drain.claims_count === 0; else claimedYes">No</span>
								<ng-template #claimedYes>
									<span>Yes</span>
								</ng-template>
							</td>
						</tr>
						
						</tbody>
					</table>
					<div class="w3-center">
						<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
						  <li [ngClass]="{disabled:pager.currentPage === 1}">
							<a (click)="setPage(1)">First</a>
						  </li>
						  <li [ngClass]="{disabled:pager.currentPage === 1}">
							<a (click)="setPage(pager.currentPage - 1)">Previous</a>
						  </li>
						  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
							<a (click)="setPage(page)">{{page}}</a>
						  </li>
						  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
							<a (click)="setPage(pager.currentPage + 1)">Next</a>
						  </li>
						  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
							<a (click)="setPage(pager.totalPages)">Last</a>
						  </li>
						</ul>
					</div>
			</div>
		</div>
	<!-- ./box-body -->
	</div>
<!-- /.box -->
</div>
</div>
