<div class="content">
    <div class="box w3-card-2 w3-border w3-border-teal" >
      <div class="box-header with-border">
        <h3 class=" w3-center">{{'citizens'| translate}}</h3>   </div>
      <!-- /.box-header -->
      <div class="box-body w3-padding">
        <div class="row">
          <!-- templates -->
          <div id="error"><h4>{{ErrMsg}}</h4></div>
          <table class="w3-table w3-hoverable w3-responsive w3-white" border="0">
            <thead>
            <tr class="w3-light-grey w3-border-bottom" >
              <th>{{'name'| translate}}</th>
              <th class="w3-center">{{'address' | translate}}</th>
              <th class="w3-center">{{'municipal' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of (filteredUsers)">
              <td>{{user.first_name}} {{user.last_name}} </td>
              <td class="w3-center">{{user.street.street_name}}, {{user.ward.ward_name}}</td>
              <td class="w3-center">{{user.municipal.municipal_name}}</td>
            </tr>
            
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <!-- ./box-body -->
</div>