<div class="content-wrapper"  >
  <div class="content">
    <div class="box w3-card-2 w3-border w3-border-teal" >
<div class="box-header with-border">
  <h3 class=" w3-center"> {{ 'citizens'| translate}}</h3>
</div>
      <div class=" w3-padding">
      <div class="w3-row">
          <div id="error"><h4>{{ErrMsg}}</h4></div>
        <div class="w3-padding w3-col m7 s12">
          <div class="w3-card-2">
            <header class="w3-container w3-center w3-theme-l5">
                <h3 style="text-transform: uppercase">{{'leader' | translate}} </h3>
            </header>
            <table class="w3-table w3-hoverable w3-responsive w3-white" border="0">
              <thead>
              <tr class="w3-light-grey w3-border-bottom" >
                <th>{{'name'| translate}}</th>
                <th>{{'address' | translate}}</th>
              </tr>
              </thead>
              <tbody>
              <tbody>
              <tr *ngFor="let user of (users | streetVEO)">
                <td>{{user.first_name}} {{user.last_name}} </td>
                <td>{{user.organization}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div><!-- Street Leaders Column -->
        <div class="w3-padding w3-col m5 s12">
          <div class="w3-card-2">
            <header class="w3-container w3-center w3-theme-l5">
              <h3>{{'registered' | translate}}</h3>
            </header>

            <div class="w3-container">
              <div class="w3-padding">
                  <img src="assets/img/citizens.png" title="Citizens" width="50" height="50">
                  <h4 class="w3-right"> <strong>{{usercount}}</strong>{{'citizens'| translate}}</h4>
              </div>
              <hr>
              <div class="w3-padding">
                  <img src="assets/img/veos.png" title="Village Leaders" width="50" height="50"> <h4 class="w3-right"><strong>{{usercount}}</strong> {{'leader'| translate}}</h4>
              </div>
              <hr>
              <div class="w3-padding">
                  <img src="assets/img/weo.png" title="Ward Leaders" width="50" height="50">
                  <h4 class="w3-right"> <strong>{{usercount}}</strong> {{'ward_leader'| translate}}</h4>
              </div>
            </div>
          </div>
        </div><!--End Registered Users Card -->
    </div>
    <div class="w3-row">
        <!-- templates -->
        <div class=" w3-col m12 s12">
          <h3 class="w3-center">{{'citizen_population' | translate}}</h3>
          <google-chart [data]="treeChart" (chartError)='error($event)'></google-chart>
        </div>
      </div>
  </div>
<!-- /.box -->
</div>
  </div>
</div>
