<div class="content-wrapper"  >
  <div class="content">
  <div class="box w3-card-2 w3-border w3-border-teal" >
    <div class="box-header with-border">
      <h3 class=" w3-center"> {{ title }}</h3>   </div>
    <!-- /.box-header -->
    <div class="box-body w3-padding">
      <div class="row">
        <!-- templates -->
        <div id="error"><h4>{{ErrMsg}}</h4></div>
        <table class="w3-table w3-hoverable w3-responsive w3-white" border="0">
          <thead>
          <tr class="w3-light-grey w3-border-bottom" >
            <th>ID</th>
            <th>NAME</th>
            <th>ADDRESS</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of (users)">
            <td><a routerLink="../user-details/{{user.id}}">{{user.id}}</a></td>
            <td>{{user.first_name}} {{user.last_name}} </td>
            <td>{{user.organization}}</td>
          </tr>
          
          </tbody>
        </table>
    </div>
  </div>
</div>
<!-- ./box-body -->
</div>
<!-- /.box -->
</div> 