<div class="content-wrapper"  >

  <!-- Main content -->
<section class="content">

<!-- START AJAX RESONSES -->
    <div class="w3-row " id="serverResult">
    </div>
    <!-- END AJAX RESONSES -->

    <!-- /.row -->
    <div class="w3-row ">
        <div class="box w3-card-2 w3-border w3-border-teal" >
          <div class="box-header with-border">
            <h3 class="box-title">Graphs</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
                <!--drain-list></drain-list-->
                <google-chart [data]="pieChartData"></google-chart>
                <div class="chart">
                  <!-- Chart Canvas -->
                  
                </div>
                <!-- /.chart-responsive -->
        
            </div>
            <!-- /.row -->
          </div>
          <!-- ./box-body -->
          <div class="box-footer">
            <div class="w3-row">
              
            </div>
            <!-- /.row -->
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.row -->



        <!-- /.box -->
        <div class="w3-row">

        <!-- TABLE: WARD RANKINGS -->
        <div class="box w3-card-2 w3-border w3-border-teal">
          <div class="box-header">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="w3-table w3-hoverable w3-responsive w3-white" border="0">
                <thead>
                  <tr class="w3-light-grey w3-border-bottom" >
                    <th>WARD</th>
                    <th>CLEAN</th>
                    <th>DIRTY</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="#">Kigogo</a></td>
                    <td>56</td>
                    <td>44</td>
                  </tr>
                  <tr>
                    <td><a href="#">Hananasif</a></td>
                    <td>46</td>
                    <td>54</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.row -->
    <!-- /.box -->
    <div class="w3-row">
      
              <!-- TABLE: WARD RANKINGS -->
              <div class="box w3-card-2 w3-border w3-border-teal">
                <div class="box-header">
                  <h3 class="box-title"></h3>
      
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                      </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="w3-table w3-hoverable w3-responsive w3-white" border="0">
                      <thead>
                        <tr class="w3-light-grey w3-border-bottom" >
                          <th>ID</th>
                          <th>NAME</th>
                          <th>ADDRESS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="#">3</a></td>
                          <td>56</td>
                          <td>Hananasif</td>
                        </tr>
                        <tr>
                          <td><a href="#">4</a></td>
                          <td>46</td>
                          <td>Kigogo</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                  
                </div>
                <!-- /.box-footer -->
              </div>
              <!-- /.box -->
          </div>
          <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
