<div class="content-wrapper"  >

  <!-- Main content -->
<section class="content">

<!-- START AJAX RESONSES -->
    <!-- END AJAX RESONSES -->

    <!-- /.row -->
    <div class="w3-row " >
        <div class="box w3-card-2 w3-border w3-border-teal" >
          <div class="box-header with-border">
            <h3 class="box-title">Graphs</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row" >
                
                <div class="chart w3-margin" style="width: 500px; height: auto;" >
                  <!-- Chart Canvas -->
                  <google-chart [data]="pieChartData" ></google-chart>
                </div>
                <!-- /.chart-responsive -->
        
            </div>
            <!-- /.row -->
          </div>
          <!-- ./box-body -->
          <div class="box-footer">
            <div class="w3-row">
              
            </div>
            <!-- /.row -->
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
  </section>
  <!-- /.content -->
</div>
