.content-wrapper {
   /* min-height: auto !important;*/
}
.content {
    min-height: auto !important;
}
.notificaition-wrapper #bar {
    width:20%;
}

@media only screen and (max-width: 767px) {
    .notificaition-wrapper, {
        margin-left: 0px;
    }
    .notification-content {
        margin-left: 0px;
    }
}